@page
@model SchoolWebApp.Pages.Courses.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Credits)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Credits)
        </dd>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Teacher(s)</th>
                    <th></th>
                </tr>
                @foreach (var item in Model.Course.TeacherCourses)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Teacher.FullName)
                        </td>
                        <td>
                            <a asp-page="../TeachersCourses/Delete" asp-route-id="@item.TeacherCoursesID">Remove</a>
                        </td>
                    </tr>
                }
            </table>
            <p>
                <a asp-page="../TeachersCourses/Create">Add teacher</a>
            </p>
            <table class="table">
                <tr>
                    <th>Enrolled Student(s)</th>
                    <th>Grade</th>
                    <th></th>
                </tr>
                @foreach (var item in Model.Course.Enrollments)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Student.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Grade)
                        </td>
                        <td>
                            <a asp-page="../Enrollments/Delete" asp-route-id="@item.EnrollmentID">Remove</a>
                        </td>
                    </tr>
                }
            </table>
            <p>
                <a asp-page="../Enrollments/Create">Add student</a>
            </p>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Course.CourseID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
